.calc {
  margin: 50px auto;
  width: 300px;
  border-radius: 20px;
  background: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 18px 20px 18px;
  box-shadow: 4px 4px 4px #4f4f4f;
}

.btn {
  width: 60px;
  height: 60px;
  background: #333;
  border-radius: 50%;
  text-align: center;
  line-height: 58px;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  &:hover {
    filter: brightness(150%);
  }
  &:active {
    filter: brightness(75%);
  }
}

.ac {
  grid-area: ac;
}
.plus-minus {
  grid-area: plus-minus;
}
.percent {
  grid-area: percent;
}
.division {
  grid-area: division;
}

.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.multiply {
  grid-area: multy;
}

.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.minus {
  grid-area: minus;
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.plus {
  grid-area: plus;
}

.zero {
  grid-area: zeros;
}
.comma {
  grid-area: comma;
}
.equal {
  grid-area: equal;
}

.btn.ac,
.btn.plus-minus,
.btn.percent {
  background: #a6a6a6;
  color: #000;
}

.btn.division,
.btn.multiply,
.btn.minus,
.btn.plus,
.btn.equal {
  background: #ff9501;
}

.buttons {
  display: grid;
  grid-template-areas:
    "ac plus-minus percent division"
    "seven eight nine multy"
    "four five six minus"
    "one two three plus"
    "zeros zeros comma equal";
  grid-gap: 7px;
  justify-items: center;
}

.btn.zero {
  width: 100%;
  border-radius: 100px;
}

.calc-screen {
  height: 125px;
  padding: 10px;
  display: grid;
  justify-items: end;
  align-items: end;
  margin-bottom: 25px;
  & p {
    text-align: right;
    font-size: 60px;
    margin: 0;
  }
}

.theme {
  background-color: #a6a6a6;
  color: #000;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
  padding-top: 0px;
  text-align: center;
  border-radius: 20px;
  width: 100%;
  &:hover {
    background: #a6a6a6;
    color: #fafafa94;
  }
  &:active {
    filter: brightness(75%);
  }
}
